.demo-layout-transparent {
    background-color: #000000;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.mdl-layout__content {
  padding-top: 230px;
  position: relative;
}

.demo-grid {
  max-width: 900px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: blue;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}